html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Helvetica, Roboto, Arial, sans-serif;
}

*:focus {
  outline: 1px dashed #369;
  outline-offset: 2px;
}

h1.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 300;
}

.container {
  width: 90%;
  max-width: 990px;
  margin: auto auto;
}

.languages {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.languages a {
  background: transparent;
  color: #369;
  border: 0.25rem solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  transition: color 0.5s, background 0.5s;
  margin: 0.5rem;
  font-family: Helvetica, Roboto, Arial, sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.languages a:focus,
.languages a:hover {
  color: #258;
  background: #e0f0ff;
}

svg {
  overflow: hidden;
}

svg #us,
svg #mx,
svg #es,
svg #fr,
svg #de,
svg #it {
  opacity: 0.75;
  transition: opacity 0.5s, fill 0.5s;
}

#es:hover,
#mx:hover,
#us:hover,
#de:hover,
#it:hover,
#fr:hover,
#map.es #es,
#map.es #mx,
#map.us #us,
#map.fr #fr,
#map.it #it,
#map.de #de {
  opacity: 1;
  cursor: pointer;
}

#map text {
  display: none;
}

#talking-horse-mini,
#talking-horse-mini-mx {
  pointer-events: none;
  display: none;
}

#us:hover ~ g #speech-bubble-en,
#map.us #speech-bubble-en,
#es:hover ~ g #speech-bubble-es,
#map.es #speech-bubble-es,
#mx:hover ~ g #speech-bubble-mx,
#map.es #speech-bubble-mx,
#it:hover ~ g #speech-bubble-it,
#map.it #speech-bubble-it,
#de:hover ~ g #speech-bubble-de,
#map.de #speech-bubble-de,
#fr:hover ~ g #speech-bubble-fr,
#map.fr #speech-bubble-fr {
  display: block !important;
}

#us:hover ~ #talking-horse-mini,
#map.us #talking-horse-mini {
  display: block;
  x: 200;
  y: 200;
}

#mx:hover ~ #talking-horse-mini-mx,
#map.es #talking-horse-mini-mx {
  display: block;
  x: 196;
  y: 265;
}

#es:hover ~ #talking-horse-mini,
#map.es #talking-horse-mini {
  display: block;
  x: 536;
  y: 173;
}

#fr:hover ~ #talking-horse-mini,
#map.fr #talking-horse-mini {
  display: block;
  x: 556;
  y: 143;
}

#de:hover ~ #talking-horse-mini,
#map.de #talking-horse-mini {
  display: block;
  x: 586;
  y: 123;
}

#it:hover ~ #talking-horse-mini,
#map.it #talking-horse-mini {
  display: block;
  x: 586;
  y: 153;
}

#us:hover ~ #speech-bubble::before,
#map.us #speech-bubble::before {
  content: "Hello!";
}

.container.horse {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

#horse {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  margin-top: 3rem;
}

.container.horse span {
  display: inline-block;
  padding-bottom: 0.5rem;
}
